body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 800px;
    color: #333;
    margin: auto;
}
h1, h2, h3, h4 {
    font-family: 'Crete Round', serif;
}
h1 {
    font-weight: 500;
}
h2 {
    font-weight: 400;
}
h3 {
    font-weight: 300;
}
p,ul,li {
    font-size: 11pt;
}

.nav-bar {
    font-weight: 400;
    font-size: 12pt;
}

hr{
    border: 0;
    height: 2px;
    background: #ccc;
}

img.round-pic {
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(+20%);
    width: 140px;
    height: 140px;
}

img.squarepic {
    position: relative;
    transform: translateY(+5%);
    width: 190px;
    height: 190px;
}


.txt-panel {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}
.img-panel {
    display: inline-block;
    vertical-align: top; 
    margin-left: 5px;
    margin-right: 0px;
    float: right;
}

hr{
    border: 0;
    height: 2px;
    background: #ccc;
}


a { color: #267CB9; text-decoration: none; }

a.code { color: #1D8A4D; text-decoration: none; font-size:11px}

a.ppl { color: #727272; text-decoration: none; }

a:hover, a:focus { color: #069; font-weight: bold; }

a.code:hover, a.code:focus { color: #135B33; font-weight: bold; }

a.ppl:hover, a.ppl:focus { color: #727272; font-style: italic; }

a small { font-size: 11px; color: #777; margin-top: -0.3em; display: block; }

a:hover small { color: #777; 

bibtext {
  font-family: monospace; font-size: 14px;
}	
